mat-form-field {
    width: 75%;
}

mat-form-field {
    margin-top: 20px;
}

mat-error {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.biere__container {
    margin-bottom: 30px;
}

fieldset {
    margin: min(3%, 30px);
}

.btn__container {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.btn-supprimer {
    margin: 30px min(3%, 30px);
}
