<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a color="warn" routerLink="/bieres" routerLinkActive="actif" [routerLinkActiveOptions]="{exact:
        true}"><img class="logo" src="assets/img/logo-white.png" alt="">
        </a>
        <span class="filler"></span>
        <aside class="connexion__aside" *ngIf="estConnecte">
            <button mat-raised-button (click)="seDeconnecter()">
                <span>Se Déconnecter</span>
                <mat-icon class="logout__icon" >logout</mat-icon>
            </button>
        </aside>
    </mat-toolbar-row>
    <mat-toolbar-row>{{titre}}</mat-toolbar-row>
        
        
</mat-toolbar>